<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.schedule.studentshedule">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.schedule.studentschedule.MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.schedule.studentschedule.View.DetailedTermActivity"
            android:label="Add/Edit terms"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schedule.studentschedule.View.TermActivity" />
        </activity>

        <activity
            android:name="com.example.schedule.studentschedule.View.CourseActivity"
            android:label="Manage Course"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schedule.studentschedule.View.TermActivity" />
        </activity>

        <activity
            android:name="com.example.schedule.studentschedule.View.AssessmentActivity"
            android:label="Manage assessment"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schedule.studentschedule.MainActivity" />
        </activity>

        <activity
            android:name="com.example.schedule.studentschedule.View.TermActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_term"
            android:parentActivityName="com.example.schedule.studentschedule.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schedule.studentschedule.MainActivity" />
        </activity>

        <activity
            android:name="com.example.schedule.studentschedule.View.ListCourseActivity"
            android:label="List Of Courses"
            android:configChanges="orientation|screenSize">
            android:label="@string/title_activity_list_course"
            android:parentActivityName="com.example.schedule.studentschedule.View.TermActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schedule.studentschedule.View.TermActivity" />
        </activity>

        <activity
            android:name="com.example.schedule.studentschedule.View.ListAssessmentActivity"
            android:label="List Of Assessments"
            android:configChanges="orientation|screenSize">
            android:label="@string/title_activity_list_assessment"
            android:parentActivityName="com.example.schedule.studentschedule.View.AssessmentActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schedule.studentschedule.View.AssessmentActivity" />
        </activity>

        <receiver
            android:name="com.example.schedule.studentschedule.Scheduler.MyReceiver"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.example.schedule.studentschedule.Scheduler.EndReceiver"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.example.schedule.studentschedule.Scheduler.DueDateReceiver"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>